# Project exclude paths
/.gradle/
/Battleship/task/build/
/Battleship/task/out/
/Battleship/task/out/production/classes/
/Topics/Input streams/Count words/out/
/Topics/Input streams/Count words/out/production/classes/
/Topics/Processing strings/Cutting out the middle of a string/out/
/Topics/Processing strings/Cutting out the middle of a string/out/production/classes/
/Topics/The List interface/Split a list into sublists/out/
/Topics/The List interface/Split a list into sublists/out/production/classes/
/Topics/Throwing exceptions/Theory/build/